{
  "drivers": {
    "dropbox": {
      "key": "your-key-here",
      "secret": "your-secret-here"
    },
    "google_drive": {
      "client_id": "YOUR CLIENT ID HERE",
      "client_secret": "YOUR CLIENT SECRET HERE",
      "redirect_uri": "YOUR REDIRECT URL HERE",
      "scope": "https://www.googleapis.com/auth/drive.files"
    },
    "aws": {
      "access_key_id": "akid",
      "secret_access_key": "secret",
      "region": "us-west-2"
    }
  },
  "mysql": {
    "weekly": {
      "comment": "Nightly Backups",
      "driver": "dropbox",
      "file_prefix": "",
      "directory": "mysql",
      "hostname": "localhost",
      "username": "root",
      "password": "xxx",
      "encrypt": {
    	  "password": "yyy",
    	  "extension": ".zip" // extension is optional, default is ".zip"
      },
      "databases": [
      	  {
    		  "name": "datatalks",
    		  "tables": true // all tables, same would be if you missed this property at all
    	  }
      ],
      "rotate": 60
    }
    "nightly": {
      "comment": "Nightly Backups",
      "driver": "dropbox",
      "file_prefix": "",
      "directory": "mysql",
      "hostname": "localhost",
      "username": "root",
      "password": "",
      "databases": [
      	  {
    		  "name": "datatalks",
    		  "tables": ["data", "idea"] // only listed tables
    	  }
      ],
      "rotate": 60
    },
    "hourly": {
      "comment": "Nightly Backups",
      "driver": "dropbox",
      "file_prefix": "",
      "directory": "mysql",
      "hostname": "localhost",
      "username": "root",
      "password": "",
      "databases": [
      	  {
    		  "name": "datatalks",
    		  "tables": false // no backing up at all, although, create table file will be created, to avoid it, remove entry in total
    	  }
      ],
      "rotate": 60
    }
  },
  "file": {
    "nightly": {
      "comment": "Nightly Backups",
      "driver": "dropbox",
      "include": [
        "/var/www/html"
      ],
      "file_prefix": "",
      "directory": "webroot_nightly",
      "rotate": 7
    },
    "weekly": {
      "comment": "Weekly Backups",
      "driver": "dropbox",
      "include": [
        "/var/www/html"
      ],
      "file_prefix": "",
      "directory": "webroot_weekly",
      "rotate": 12
    }
  }
}
